<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title><%=subject%></title>
      <style>
        /* -------------------------------------
            GLOBAL
        ------------------------------------- */
        * {
        font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
        font-size: 100%;
        line-height: 1.6em;
        margin: 0;
        padding: 0;
      }

        img {
        max-width: 600px;
        width: auto;
      }

        body {
        -webkit-font-smoothing: antialiased;
        height: 100%;
        -webkit-text-size-adjust: none;
        width: 100% !important;
      }


        /* -------------------------------------
            ELEMENTS
        ------------------------------------- */
        a {
        color: #348eda;
      }

        .btn-primary {
        Margin-bottom: 10px;
        width: auto !important;
      }

        .btn-primary td {
        background-color: #348eda;
        border-radius: 25px;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 14px;
        text-align: center;
        vertical-align: top;
      }

        .btn-primary td a {
        background-color: #348eda;
        border: solid 1px #348eda;
        border-radius: 25px;
        border-width: 10px 20px;
        display: inline-block;
        color: #ffffff;
        cursor: pointer;
        font-weight: bold;
        line-height: 2;
        text-decoration: none;
      }

        .last {
        margin-bottom: 0;
      }

        .first {
        margin-top: 0;
      }

        .padding {
        padding: 10px 0;
      }


        /* -------------------------------------
            BODY
        ------------------------------------- */
        table.body-wrap {
        padding: 20px;
        width: 100%;
      }

        table.body-wrap .container {
        border: 1px solid #f0f0f0;
      }


        /* -------------------------------------
            FOOTER
        ------------------------------------- */
        table.footer-wrap {
        clear: both !important;
        width: 100%;
      }

        .footer-wrap .container p {
        color: #666666;
        font-size: 12px;

      }

        table.footer-wrap a {
        color: #999999;
      }


        /* -------------------------------------
            TYPOGRAPHY
        ------------------------------------- */
        h1,
        h2,
        h3 {
        color: #111111;
        font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 200;
        line-height: 1.2em;
        margin: 30px 0 10px;
      }

        h1 {
        font-size: 36px;
      }
        h2 {
        font-size: 28px;
      }
        h3 {
        font-size: 22px;
      }

        p,
        ul,
        ol {
        font-size: 14px;
        font-weight: normal;
        margin-bottom: 10px;
      }

        ul li,
        ol li {
        margin-left: 5px;
        list-style-position: inside;
      }

        /* ---------------------------------------------------
            RESPONSIVENESS
        ------------------------------------------------------ */

        /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
        .container {
        clear: both !important;
        display: block !important;
        Margin: 0 auto !important;
        max-width: 600px !important;
      }

        /* Set the padding on the td rather than the div for Outlook compatibility */
        .body-wrap .container {
        padding: 20px;
      }

        /* This should also be a block element, so that it will fill 100% of the .container */
        .content {
        display: block;
        margin: 0 auto;
        max-width: 600px;
      }

        /* Let's make sure tables in the content area are 100% wide */
        .content table {
        width: 100%;
      }

      /* ---------------------------------------------------
           CUSTOM
      ------------------------------------------------------ */
        .today {
          text-align: right;
          font-size: 12px;
        }
        table.medias {
          border-top: 1px solid #EAEAEA;
        }
        .m-img {
          width: 92px;
          vertical-align: top;
          border-bottom: 1px solid #EAEAEA;
          padding-top: 8px;
        }
        img.m-img-img {
          width: 92px !important;
        }
        .m-infos {
          padding-left: 15px;
          padding-top: 5px;
          vertical-align: top;
          border-bottom: 1px solid #EAEAEA;
        }
        .m-title {
          margin-bottom: 5px;
        }
        .m-underline {
          margin-bottom: 5px;
          color: #666666;
          font-size: 12px;
        }
        .m-description {
          margin-bottom: 5px;
          font-size: 12px;
          overflow: hidden;
        }
        .m-link {
          margin-bottom: 5px;
          font-size: 12px;
          text-align: right;
        }
        .m-unparsed {
          font-size: 12px;
        }
        .m-removed {
          font-size: 12px;
          color: #c40d0e;
        }

      </style>
</head>

<body bgcolor="#f6f6f6">

<!-- body -->
<table class="body-wrap" bgcolor="#f6f6f6">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">
      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td>
              <p class="today"><%=subject%></p>
              <p>Salut les copinous,</p>
              <p>Mais que s'est-il passé aujourd'hui sur le FTP ? Chaque soir nous vous proposons un résumé rapide et synthétique des trucs à savoir.</p>
              <p>A très bientôt les copinous.</p>
              <% if (movies.length || series.length) { %>
              <h1>What's new today</h1>
              <% } %>

              <% if (movies.length) { %>
              <h3>Nouveaux films</h3>
              <table class="medias" cellpadding="0" cellspacing="0" border="0">
                <% movies.forEach((i) => { %>
                <tr>
                  <td class="m-img"><img class="m-img-img" src="<%=i.poster%>" alt="cover"></td>
                  <td class="m-infos">
                    <p class="m-title"><b><%=i.title%></b></p>
                    <p class="m-underline">
                      <span><%=i.year%></span>
                      <span>| <%=i.genres%></span>
                      <span>| <%=i.votes%></span>
                    </p>
                    <% const overview = (i.overview && i.overview.length > 100) ? `${i.overview.substr(0, 100)} (...)` : i.overview; %>
                    <p class="m-description"><%=overview%></p>
                    <p class="m-link"><a href="<%=baseUrl%>/media/<%=i.id%>" target="_blank">voir plus</a></p>
                  </td>
                </tr>
                <% }); %>
              </table>
              <% } %>

              <% if (series.length) { %>
              <h3>Nouveaux épisodes de séries</h3>
              <table class="medias" cellpadding="0" cellspacing="0" border="0">
                <% series.forEach((s) => { %>
                <tr>
                  <td class="m-img"><img class="m-img-img" src="<%=s.poster%>" alt="cover"></td>
                  <td class="m-infos">
                    <p class="m-title"><b><%=s.title%></b></p>
                    <p class="m-underline">
                      <span><%=s.genres%></span>
                      <span>| <%=s.votes%></span>
                    </p>
                    <% const overview = (s.overview && s.overview.length > 100) ? `${s.overview.substr(0, 100)} (...)` : s.overview; %>
                    <p class="m-description"><%=overview%></p>
                    <p class="m-episodes">
                      <% s.episodes.forEach(e => { %>
                      Saison <b><%=e.season%></b> épisode <b><%=e.episode%></b>
                      -
                      <a class="m-link" href="<%=baseUrl%>/media/<%=e.id%>" target="_blank">voir plus</a><br>
                      <% }); %>
                    </p>
                  </td>
                </tr>
                <% }); %>
              </table>
              <% } %>

              <% if (unparsed && unparsed.length) { %>
              <h3>Nouveaux médias non identifiés</h3>
              <p class="m-unparsed">
                <% unparsed.forEach(u => { %>
                <i><%=u.path%></i> <a href="<%=baseUrl%>/media/<%=u.id%>" target="_blank">voir plus</a><br>
                <% }); %>
              </p>
              <% } %>

              <% if (removed && removed.length) { %>
              <h3>Médias supprimés récements</h3>
              <p class="m-removed">
                <% removed.forEach(r => { %>
                <i><%=r.path%></i><br>
                <% }); %>
              </p>
              <% } %>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->
    </td>
    <td></td>
  </tr>
</table>
<!-- /body -->

<!-- footer -->
<table class="footer-wrap">
  <tr>
    <td></td>
    <td class="container">
      <!-- content -->
      <div class="content">
        <table>
          <tr>
            <td align="center">
              <p>
                Une question, une suggestion, une demande, ras le bol de ces emails,
                <a href="mailto:<%=replyTo%>">dites le moi</a>.
              </p>
            </td>
          </tr>
        </table>
      </div>
      <!-- /content -->
    </td>
    <td></td>
  </tr>
</table>
<!-- /footer -->

</body>
</html>