<%- include('_head', { title: data.title }); %>
<div class="row p-media">
  <div class="col-sm-2 col-lg-3">
    <img class="img-responsive img-thumbnail" src="<%=data.poster%>%>" alt="<%=data.title%> poster">
  </div>
  <div class="col-sm-10 col-lg-9">
    <h1>
      <%=data.title%>
      <% if (data.category === 'movie') { %>
      <small><%=data.category%>, <%=data.year%></small>
      <% } else if (data.category === 'tv') { %>
      <small>S<%=data.season%>E<%=data.episode%></small>
      <% } %>
    </h1>
    <div>
      <% if (data.original_title) { %>
      <em>(<%=data.original_title%>)</em> |
      <% } %>
      <% if (data.category === 'movie' || (data.category === 'tv')) { %>
      <%=data.genres%> | <%=data.votes%>
      <% } %>
    </div>
    <% if (data.overview) { %>
    <h4>Synopsis</h4>
    <div><%=data.overview%></div>
    <% } %>
    <div class="foot">
      <p class="bg-info text-center path"><%=data.path%></p>
      <ul class="list-inline text-right">
        <% if (data.language) { %>
        <li>
          <strong class="text-muted">language</strong>
          <%=data.language%>
        </li>
        <% } %>
        <% if (data.quality) { %>
        <li>
          <strong class="text-muted">quality</strong>
          <%=data.quality%>
        </li>
        <% } %>
        <% if (data.codec) { %>
        <li>
          <strong class="text-muted">codec</strong>
          <%=data.codec%>
        </li>
        <% } %>
        <% if (data.size) { %>
        <li>
          <strong class="text-muted">size</strong>
          <%=data.size%>
        </li>
        <% } %>
      </ul>
      <ul class="list-inline text-right text-muted small">
        <li><strong>id</strong> <%=data.id%></li>
        <li><strong>downloaded on</strong> <% var cd = new Date(data.created); %><%=cd.toDateString()%></li>
        <% if (data.removed) { %>
        <li><strong>deleted on</strong> <% var rd = new Date(data.removed); %><%=rd.toDateString()%></li>
        <% } %>
      </ul>
    </div>
  </div>
</div>
<%- include('_foot', {}); %>